@model FarmaciaElPalenque.Models.Usuario
@{
	var title = "Iniciar sesión";
}

<h2>@title</h2>

@if (ViewBag.Error != null)
{
	<div class="alert alert-danger">
		@ViewBag.Error
	</div>
}

<form asp-action="Login" method="post">
	<div class="mb-3">
		<label asp-for="email">Email</label>
		<input asp-for="email" type="email" class="form-control" />
		<span asp-validation-for="email" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label for="Password">Contraseña</label>
		<div class="input-group">
			<input type="Password" class="form-control" id="Password" name="Password" />
			<span class="input-group-text">
				<i class="bi bi-eye-slash" id="togglePassword" style="cursor: pointer;"></i>
			</span>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">
		Iniciar sesión
	</button>
</form>