@model FarmaciaElPalenque.Models.Usuario

@{
	var title = "Iniciar sesión";
}

<h2>@title</h2>

@if (ViewBag.Error != null)
{
	<div class="alert alert-danger">
		@ViewBag.Error
	</div>
}

<form asp-action="Login" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" name="returnUrl" value="@(ViewBag.ReturnUrl ?? string.Empty)" />

	<div asp-validation-summary="All" class="text-danger mb-2"></div>

	<div class="mb-3">
		<label asp-for="email">Email</label>
		<input asp-for="email" type ="email" class="form-control" />
		<span asp-validation-for="email" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="passwordHash">Contraseña</label>
		<div class="input-group">
			<input asp-for="passwordHash" type="password" class="form-control" id="passwordHash" />
			<span class="input-group-text">
				<i class="bi bi-eye-slash" id="togglePassword" style="cursor: pointer;"></i>
			</span>
		</div>
		<span asp-validation-for="passwordHash" class="text-danger"></span>
	</div>


	<button type="submit" class="btn btn-primary">
		Iniciar sesión
	</button>
</form>
