@model Usuario

@{
	ViewData["Title"] = "Registro";
}

<h2>Registro de Usuario</h2>

<form asp-action="Registro" method="post">

	<div class="mb-3">
		<label asp-for="nombre">Nombre</label>
		<input asp-for="nombre" class="form-control"/>
		<span asp-validation-for="nombre" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="apellido"></label>
		<input asp-for="apellido" class="form-control" />
		<span asp-validation-for="apellido" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="email">Email</label>
		<input asp-for="email" type ="email" class="form-control"/>
		<span asp-validation-for="email" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="confirmarEmail">Confirmar Email</label>
		<input asp-for="confirmarEmail" type="email" class="form-control" />
		<span asp-validation-for="confirmarEmail" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Password">Contraseña</label>
		<div class="input-group">
			<input asp-for="Password" type="password" class="form-control" id="Password" />
			<span class="input-group-text">
				<i class="bi bi-eye-slash" id="togglePassword" style="cursor: pointer;"></i>
			</span>
		</div>
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="confirmarPasswordHash">Confirmar Contraseña</label>
		<div class="input-group">
			<input asp-for="confirmarPasswordHash" type="password" class="form-control" id="confirmarPasswordHash" />
			<span class="input-group-text">
				<i class="bi bi-eye-slash" id="toggleConfirmPassword" style="cursor: pointer;"></i>
			</span>
		</div>
		<span asp-validation-for="confirmarPasswordHash" class="text-danger"></span>
	</div>



	@* Solo se muestra si el usuario actual es administrador *@
	@if (Context.Session.GetString("Rol") == "Administrador")
	{
		<div class="mb-3">
			<label asp-for="rol"></label>
			<select asp-for="rol" class="form-control">
				<option value="Cliente">Cliente</option>
				<option value="Administrador">Administrador</option>
			</select>
		</div>
	}

	<button class="btn btn-primary">
		<i class="bi bi-person-plus"></i>Registrarse
	</button>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
